header {
      padding-top: 15px;
      padding-bottom: 6px;
      font-family: 'Josefin Slab', serif;
      font-size: 28px;
      background: white;
}


html {
  background: #2779c5;
}

.left {
  margin-left: 40px;
  display: inline-block;
  text-align: left;
  color: black;
}

.right {
  display: inline-block;
  float: right;
  text-align: right;
}

header a {
  line-height: 100%;
  padding-top: 15px;
  padding-bottom: 9px;
  text-decoration: none;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}

#projects {
  background: #2EB7AD;
}

#story {
  background: #77E0D8;
}

#contact {
  background: #0FA095;
}

body {
  color: white;
}

.content {
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
  width: 60%;
  height: 500px;
  text-align: center;
  display: block;
}

.content h1 {
  font-size: 40px;
}

.project {
  margin-top: 10px;
  text-align: left;
  /*height: 350px;*/
}

.project-info {
  height: 40%;
}

.project-info img{
  /*position: relative;*/
  display: inline-block;
  margin-right: 5px;
  width: 30%;
  height: 100%;
  float: left;
}

.project.side {
  display: inline-block;
  width:70%;
  float: right;

}

.project h3 {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.headroom {
position: fixed;
z-index: 1000;
top: 0;
left: 0;
right: 0;
-webkit-transition: .25s;
-o-transition: .25s;
-moz-transition: .25s;
-ms-transition: .25s;
transition: transform .25s ease-in-out;
}
.headroom--unpinned {
-webkit-transition: .25s;
-o-transition: .25s;
-moz-transition: .25s;
-ms-transition: .25s;
transition: .25s;
-webkit-transform: translateY(-100%);
-o-transform: translateY(-100%);
-moz-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
}

.headroom--pinned {
top: 0;
-webkit-transition: .5s;
-o-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
transition: .5s;
}

.header-room {
  height: 40px;
  width: 100%;
  display: block;
}

.profile h1 {
  text-decoration: none;
  font-size: 70px;
}

.profile h2 {
  font-size: 20px;
}

.content-container {
  height: 700px;
}

#story-container {
  background: white;
  background-image: url('motherboard1.jpg');
  background-size: cover;
  color: black;
}

#story-container p {
  font-size: 20px;
}

#projects-container {
  height: 850px;
}

#contact-container {
  background-color: white;
  color: black;
  height: 400px;
}

#contact-content {
  height: 400px;
}

#contact-container h3 {
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

#email {
  text-align: left;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -35px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 35px;
}
.site-footer {
  background: #3d3d3e;
  text-align: center;
  font-size: 10px;
}
.site-footer p {
  margin-bottom: 0;
}

.skill {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}

.skill img {
  margin-top: 10px;
}

#story-content h2 {
  margin-bottom: 30px;
}

.skill p {
  font-size: 15px !important;
  margin-top: 10px;
  vertical-align: bottom;
}

.project p {
  margin-bottom: 15px;
}

#coffee {
  text-decoration: none;
  color: white;
}

#coffee:hover {
  color: #77E0D8;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Bitter', serif;
}

@media (max-width: 1030px){
  .content{
    width: 100%;
  }
  #story-container {
    margin-top: 150px;
    height: 1000px;
    width: 100%;
  }
  .skill {
    display: block;
    width: 95%;
  }
  .skill-container {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .project {
    margin-top: 30px;
  }
  .project img {
    height: 150px;
  }
}

@media (max-width: 650px) {
  .left {
    display: none;
    width: 0%;
  }
  .right {
    width: 100%;
    text-align: center;
  }
  .right a{
    padding-left: 10%;
    padding-right: 10%;
  }
  .project {
    margin-top: 50px;
  }
  #projects-container {
    padding-bottom: 100px;
  }
}

@media (max-width: 550px) {
  #story-container {
    height: 1050px;
  }
}

@media(max-width: 500px){
  .right a{
    padding-left: 9%;
    padding-right: 9%;
  }
}

@media(max-width: 450px){
  .right a{
    padding-left: 8%;
    padding-right: 8%;
  }
  #story-container {
    height: 1100px;
  }
}

@media(max-width: 400px){
  .right a{
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media(max-width: 385px){
  .right a{
    padding-left: 6%;
    padding-right: 6%;
  }
  #story-container {
    height: 1150px;
  }
}

@media(max-width: 350px){
.right a{
  padding-left: 5%;
  padding-right: 5%;
  }
  #story-container {
    height: 1200px;
  }
  .project {
    margin-top: 75px;
  }
  #projects-container {
    padding-bottom: 200px;
  }
  #contact-container {
    padding-bottom: 100px
  }
}

@media(max-width: 325px){
  .right a{
    padding-left: 4%;
    padding-right: 4%;
  }
  #story-container {
    height: 1250px;
  }
  .project {
    margin-top: 75px;
  }
  #projects-container {
    padding-bottom: 300px;
  }
}

@media(max-width: 300px){
  .right a{
    padding-left: 3%;
    padding-right: 3%;
  }
  #story-container {
    height: 1300px;
  }
}

@media(max-width: 285px){
  .right a{
    padding-left: 2%;
    padding-right: 2%;
  }
  #story-container {
    height: 1350px;
  }
}

@media(max-width: 270px){
  .right a{
    padding-left: 1%;
    padding-right: 1%;
  }
  #story-container {
    height: 1400px;
  }
}

